@media screen and (min-width: 640px) {
    body{
        max-width: 30em;
        margin: auto;
    }
}


h1{
    color: rebeccapurple;
    text-align: center;
}
h2{
    text-align: center;
}
p{
    width: 80%;
    margin: auto;
    text-align: justify;
}